* {
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}

/*Built-in Elements*/
a {
	text-decoration: none;
	color: #424242;
}

a:hover {
    color: #636363;
}

body {
	background: #020202;
}

/*Custom Elements*/
.footer {
	font-size: .7em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #424242;
    text-align: right;
}

#main_window {
	height: 100vh;
}

.navbar-toggler {
	background-color: white;
}

.navbar-toggler-icon {
	background-color: black;
}

@media screen and (max-width: 700px) {
	#logo {
		margin: auto 0;
	}
	.footer {
		display: none;
	}
}

/*Universal Classes*/
.margin {margin: 0 20px;}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}