* {
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}

/*Built-in Elements*/
a {
	text-decoration: none;
	color: #424242;
}

a:hover {
    color: #636363;
}

body {
	background: #020202;
}

/*Custom Elements*/
.footer {
	font-size: .7em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #424242;
    text-align: right;
}

#logo_image {
	height: 80vh;
	width: 85vh;
}

#main_window {
	height: 100vh;
}

.navbar-toggler {
	background-color: white;
}

.navbar-toggler-icon {
	background-color: black;
}

@media screen and (max-width: 500px) {
	#logo_container {
		height: 100%;
		margin: auto;
	}
	#logo_image {
		height: 40vh;
		width: 45vh;
	}
	.footer {
		display: none;
	}
}

/*Universal Classes*/
.margin {margin: 0 20px;}
.inline {display:inline-block}
.block {display:block}
.center {margin: auto;width:50%;}